/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fredoka One', cursive;;
}

.container-top {
  width: 100%px;
  max-width: 1300px;
  height: 100px;
  text-align: center;
  margin: 0 auto;
  padding-top: 30px;
}

.container-bottom {
  width: 10%px;
  max-width: 1300px;
  height: 500px;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}

/* HEADER */

.container-top h1 {
  color: #E53170;
}

/* MAIN */

.container-bottom section p {
  margin: 0 26px
}


.container-bottom .contatti {
  width: 360px;
  height: 100px;
  background-color: #0F0E17;
  margin: 40px 0 0 40px;
  float: left;
}

.contatti img{
  float: left;
  background-size: cover;
  height: 98px;
  width: 100px;
  margin-right: 20px;
}

.contatti h2 {
  color: #FFFFFE;
  float: left;
}

.contatti span {
  color: #FFFFFE;
  float: left;
}

.contatti a {
  float: left;
}

